GaugesGraphs.json
[{"id":"f3407ada.9f67b8","type":"tab","label":"Gauges/Charts","disabled":false,"info":""},{"id":"f073a777.66c758","type":"tail","z":"f3407ada.9f67b8","name":"","filetype":"text","split":"[\\r]{0,1}\\n","filename":"/home/pi/moisture.csv","inputs":0,"x":180,"y":40,"wires":[["c9d06b58.46d698"]]},{"id":"c9d06b58.46d698","type":"csv","z":"f3407ada.9f67b8","name":"","sep":",","hdrin":false,"hdrout":false,"multi":"one","ret":"\\n","temp":"Moisture","skip":"0","strings":true,"x":170,"y":80,"wires":[["ec8e3caa.18493"]]},{"id":"705c6094.8f045","type":"range","z":"f3407ada.9f67b8","minin":"1","maxin":"2","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":180,"y":160,"wires":[["2a741b6d.c2e1c4"]]},{"id":"ec8e3caa.18493","type":"csv","z":"f3407ada.9f67b8","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":170,"y":120,"wires":[["705c6094.8f045"]]},{"id":"2a741b6d.c2e1c4","type":"smooth","z":"f3407ada.9f67b8","name":"","property":"payload","action":"mean","count":"10","round":"0","mult":"single","reduce":false,"x":180,"y":200,"wires":[["f137941.3e36868"]]},{"id":"f137941.3e36868","type":"influxdb out","z":"f3407ada.9f67b8","influxdb":"f55706e5.416f78","name":"InfluxDB Moisture","measurement":"Moist","precision":"","retentionPolicy":"","x":650,"y":20,"wires":[]},{"id":"da51ec03.7802","type":"ui_template","z":"f3407ada.9f67b8","group":"14cf5607.40adea","name":"Moisture Gauge","order":2,"width":0,"height":0,"format":"<html>\n<iframe id=\"myFrame\" width=\"360px\" height=\"200px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":820,"y":60,"wires":[[]]},{"id":"1d257b91.b1e304","type":"function","z":"f3407ada.9f67b8","name":"BuildTemplate","func":"//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\npanelid=2\n\nmsg.payload= \"http://192.168.1.5:3000/d-solo/HKR0o1ggz/moisture?orgId=1&from=1589610479058&to=1589632079059&panelId=2\"+\n\"&refresh=5s\"+\n\"&theme=light\"+\n\"&from=\"+ msg.fromdate +\n\"&to=\"+ msg.enddate +\n\"&panelId=\"+panelid\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":640,"y":60,"wires":[["da51ec03.7802"]]},{"id":"6148fd4d.16c9c4","type":"ui_template","z":"f3407ada.9f67b8","group":"14cf5607.40adea","name":"Moisture Load Gauge","order":1,"width":0,"height":0,"format":"<script>\n(function() {\n    (function(scope) {\n        scope.send({payload: \"preload\"}); // this gets sent when the view is opened in the browser\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":440,"y":60,"wires":[["1d257b91.b1e304"]]},{"id":"5ebd6f4.06f029","type":"ui_template","z":"f3407ada.9f67b8","group":"14cf5607.40adea","name":"Moisture Chart","order":4,"width":0,"height":0,"format":"<html>\n<iframe id=\"myFrame2\" width=\"360px\" height=\"200px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame2');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":820,"y":100,"wires":[[]]},{"id":"bdfaffb2.f5d1b","type":"function","z":"f3407ada.9f67b8","name":"BuildTemplate","func":"//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\npanelid=2\n\nmsg.payload= \"http://192.168.1.5:3000/d-solo/HKR0o1ggz/moisture?orgId=1&from=1589611945857&to=1589633545857&panelId=3\"+\n\"&refresh=5s\"+\n\"&theme=light\"+\n\"&from=\"+ msg.fromdate +\n\"&to=\"+ msg.enddate +\n\"&panelId=\"+panelid\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":640,"y":100,"wires":[["5ebd6f4.06f029"]]},{"id":"11663b53.dd3625","type":"ui_template","z":"f3407ada.9f67b8","group":"14cf5607.40adea","name":"Moisture Load Chart","order":3,"width":0,"height":0,"format":"<script>\n(function() {\n    (function(scope) {\n        scope.send({payload: \"preload\"}); // this gets sent when the view is opened in the browser\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":440,"y":100,"wires":[["bdfaffb2.f5d1b"]]},{"id":"e9788768.0ab8c8","type":"tail","z":"f3407ada.9f67b8","name":"","filetype":"text","split":"[\\r]{0,1}\\n","filename":"/home/pi/temp.csv","inputs":0,"x":170,"y":300,"wires":[["d9626ceb.3ac6f"]]},{"id":"d9626ceb.3ac6f","type":"csv","z":"f3407ada.9f67b8","name":"","sep":",","hdrin":false,"hdrout":false,"multi":"one","ret":"\\n","temp":"Moisture","skip":"0","strings":true,"x":170,"y":340,"wires":[["83dc4317.3a0c5"]]},{"id":"83dc4317.3a0c5","type":"csv","z":"f3407ada.9f67b8","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":170,"y":380,"wires":[["cb784b9c.1d1388"]]},{"id":"a6aa21a2.5163b","type":"influxdb out","z":"f3407ada.9f67b8","influxdb":"f55706e5.416f78","name":"InfluxDB Temperature","measurement":"Temp","precision":"","retentionPolicy":"","x":660,"y":180,"wires":[]},{"id":"7410e7c5.1ff728","type":"tail","z":"f3407ada.9f67b8","name":"","filetype":"text","split":"[\\r]{0,1}\\n","filename":"/home/pi/temperature.csv","inputs":0,"x":170,"y":260,"wires":[["d9626ceb.3ac6f"]]},{"id":"b247f077.e72ca","type":"tail","z":"f3407ada.9f67b8","name":"","filetype":"text","split":"[\\r]{0,1}\\n","filename":"/home/pi/humidity.csv","inputs":0,"x":180,"y":440,"wires":[["3c349407.e8ba4c"]]},{"id":"3c349407.e8ba4c","type":"csv","z":"f3407ada.9f67b8","name":"","sep":",","hdrin":false,"hdrout":false,"multi":"one","ret":"\\n","temp":"Moisture","skip":"0","strings":true,"x":170,"y":480,"wires":[["36af2d72.816d32"]]},{"id":"36af2d72.816d32","type":"csv","z":"f3407ada.9f67b8","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":170,"y":520,"wires":[["781bfe3e.f66fd"]]},{"id":"b87bed66.0826b","type":"influxdb out","z":"f3407ada.9f67b8","influxdb":"f55706e5.416f78","name":"InfluxDB Humidity","measurement":"Humid","precision":"","retentionPolicy":"","x":650,"y":400,"wires":[]},{"id":"467fb192.0fedd","type":"ui_template","z":"f3407ada.9f67b8","group":"af852ea.0dcead","name":"Humidity Gauge","order":2,"width":0,"height":0,"format":"<html>\n<iframe id=\"myFrame5\" width=\"360px\" height=\"200px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame5');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":820,"y":440,"wires":[[]]},{"id":"3eaa0b82.1da6b4","type":"function","z":"f3407ada.9f67b8","name":"BuildTemplate","func":"//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\npanelid=2\n\nmsg.payload= \"http://192.168.1.5:3000/d-solo/Vll6UxRgk/humidity?orgId=1&from=1589658248290&to=1589679848290&panelId=2\"+\n\"&refresh=5s\"+\n\"&theme=light\"+\n\"&from=\"+ msg.fromdate +\n\"&to=\"+ msg.enddate +\n\"&panelId=\"+panelid\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":640,"y":440,"wires":[["467fb192.0fedd"]]},{"id":"59a84fb.986a8b","type":"ui_template","z":"f3407ada.9f67b8","group":"af852ea.0dcead","name":"Humidity Load Gauge","order":1,"width":0,"height":0,"format":"<script>\n(function() {\n    (function(scope) {\n        scope.send({payload: \"preload\"}); // this gets sent when the view is opened in the browser\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":440,"y":440,"wires":[["3eaa0b82.1da6b4"]]},{"id":"751b5b2f.202ae4","type":"ui_template","z":"f3407ada.9f67b8","group":"af852ea.0dcead","name":"Humidity Chart","order":4,"width":0,"height":0,"format":"<html>\n<iframe id=\"myFrame6\" width=\"360px\" height=\"200px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame6');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":820,"y":480,"wires":[[]]},{"id":"19f65159.4065df","type":"function","z":"f3407ada.9f67b8","name":"BuildTemplate","func":"//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\npanelid=2\n\nmsg.payload= \"http://192.168.1.5:3000/d-solo/Vll6UxRgk/humidity?orgId=1&from=1589658290393&to=1589679890393&panelId=3\"+\n\"&refresh=5s\"+\n\"&theme=light\"+\n\"&from=\"+ msg.fromdate +\n\"&to=\"+ msg.enddate +\n\"&panelId=\"+panelid\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":640,"y":480,"wires":[["751b5b2f.202ae4"]]},{"id":"2261fa9d.f72b36","type":"ui_template","z":"f3407ada.9f67b8","group":"af852ea.0dcead","name":"Humidity Load Chart","order":3,"width":0,"height":0,"format":"<script>\n(function() {\n    (function(scope) {\n        scope.send({payload: \"preload\"}); // this gets sent when the view is opened in the browser\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":440,"y":480,"wires":[["19f65159.4065df"]]},{"id":"7ba0ccf8.988e74","type":"tail","z":"f3407ada.9f67b8","name":"","filetype":"text","split":"[\\r]{0,1}\\n","filename":"/home/pi/pressure.csv","inputs":0,"x":180,"y":580,"wires":[["5ebcd7df.c8b558"]]},{"id":"5ebcd7df.c8b558","type":"csv","z":"f3407ada.9f67b8","name":"","sep":",","hdrin":false,"hdrout":false,"multi":"one","ret":"\\n","temp":"Moisture","skip":"0","strings":true,"x":170,"y":620,"wires":[["a8ed260.1b28ed8"]]},{"id":"a8ed260.1b28ed8","type":"csv","z":"f3407ada.9f67b8","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":170,"y":660,"wires":[["18c61158.33349f"]]},{"id":"b433f1c0.4f88c","type":"influxdb out","z":"f3407ada.9f67b8","influxdb":"f55706e5.416f78","name":"InfluxDB Pressure","measurement":"Press","precision":"","retentionPolicy":"","x":650,"y":580,"wires":[]},{"id":"9b633c4c.211e","type":"ui_template","z":"f3407ada.9f67b8","group":"115d06d6.a56299","name":"Pressure Gauge","order":2,"width":0,"height":0,"format":"<html>\n<iframe id=\"myFrame7\" width=\"360px\" height=\"200px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame7');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":820,"y":620,"wires":[[]]},{"id":"367ee233.25f17e","type":"function","z":"f3407ada.9f67b8","name":"BuildTemplate","func":"//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\npanelid=2\n\nmsg.payload= \"http://192.168.1.5:3000/d-solo/HKR0o1ggz/moisture?orgId=1&from=1589610479058&to=1589632079059&panelId=2\"+\n\"&refresh=5s\"+\n\"&theme=light\"+\n\"&from=\"+ msg.fromdate +\n\"&to=\"+ msg.enddate +\n\"&panelId=\"+panelid\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":640,"y":620,"wires":[["9b633c4c.211e"]]},{"id":"ec3c1282.56f8e","type":"ui_template","z":"f3407ada.9f67b8","group":"115d06d6.a56299","name":"Pressure Load Gauge","order":1,"width":0,"height":0,"format":"<script>\n(function() {\n    (function(scope) {\n        scope.send({payload: \"preload\"}); // this gets sent when the view is opened in the browser\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":440,"y":620,"wires":[["367ee233.25f17e"]]},{"id":"4b4c1722.d1c8f8","type":"ui_template","z":"f3407ada.9f67b8","group":"115d06d6.a56299","name":"Pressure Chart","order":4,"width":0,"height":0,"format":"<html>\n<iframe id=\"myFrame8\" width=\"360px\" height=\"200px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame8');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":820,"y":660,"wires":[[]]},{"id":"fc9b46b7.d98628","type":"function","z":"f3407ada.9f67b8","name":"BuildTemplate","func":"//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\npanelid=2\n\nmsg.payload= \"http://192.168.1.5:3000/d-solo/HKR0o1ggz/moisture?orgId=1&from=1589611945857&to=1589633545857&panelId=3\"+\n\"&refresh=5s\"+\n\"&theme=light\"+\n\"&from=\"+ msg.fromdate +\n\"&to=\"+ msg.enddate +\n\"&panelId=\"+panelid\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":640,"y":660,"wires":[["4b4c1722.d1c8f8"]]},{"id":"cb9f68f8.c52608","type":"ui_template","z":"f3407ada.9f67b8","group":"115d06d6.a56299","name":"Pressure Load Chart","order":3,"width":0,"height":0,"format":"<script>\n(function() {\n    (function(scope) {\n        scope.send({payload: \"preload\"}); // this gets sent when the view is opened in the browser\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":440,"y":660,"wires":[["fc9b46b7.d98628"]]},{"id":"cb784b9c.1d1388","type":"smooth","z":"f3407ada.9f67b8","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":380,"y":200,"wires":[["a6aa21a2.5163b"]]},{"id":"781bfe3e.f66fd","type":"smooth","z":"f3407ada.9f67b8","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":380,"y":380,"wires":[["b87bed66.0826b"]]},{"id":"18c61158.33349f","type":"smooth","z":"f3407ada.9f67b8","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":400,"y":560,"wires":[["b433f1c0.4f88c"]]},{"id":"76e47c47.58dd24","type":"ui_template","z":"f3407ada.9f67b8","group":"cc230b49.ff2e98","name":"Temperature Gauge","order":2,"width":0,"height":0,"format":"<html>\n<iframe id=\"myFrame7\" width=\"360px\" height=\"200px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame7');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":830,"y":260,"wires":[[]]},{"id":"ea9c63d5.9a2b2","type":"function","z":"f3407ada.9f67b8","name":"BuildTemplate","func":"//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\npanelid=2\n\nmsg.payload= \"http://192.168.1.5:3000/d-solo/hkcVrbggz/temperature?orgId=1&from=1589658068650&to=1589679668650&panelId=3\"+\n\"&refresh=5s\"+\n\"&theme=light\"+\n\"&from=\"+ msg.fromdate +\n\"&to=\"+ msg.enddate +\n\"&panelId=\"+panelid\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":640,"y":260,"wires":[["76e47c47.58dd24"]]},{"id":"5a037b8d.9c50b4","type":"ui_template","z":"f3407ada.9f67b8","group":"cc230b49.ff2e98","name":"Temperature Load Gauge","order":1,"width":0,"height":0,"format":"<script>\n(function() {\n    (function(scope) {\n        scope.send({payload: \"preload\"}); // this gets sent when the view is opened in the browser\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":430,"y":260,"wires":[["ea9c63d5.9a2b2"]]},{"id":"60837a19.135c14","type":"ui_template","z":"f3407ada.9f67b8","group":"cc230b49.ff2e98","name":"Temperature Chart","order":4,"width":0,"height":0,"format":"<html>\n<iframe id=\"myFrame8\" width=\"360px\" height=\"200px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame8');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":830,"y":300,"wires":[[]]},{"id":"97c28a74.41bce8","type":"function","z":"f3407ada.9f67b8","name":"BuildTemplate","func":"//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\npanelid=2\n\nmsg.payload= \"http://192.168.1.5:3000/d-solo/hkcVrbggz/temperature?orgId=1&from=1589658108704&to=1589679708704&panelId=2\"+\n\"&refresh=5s\"+\n\"&theme=light\"+\n\"&from=\"+ msg.fromdate +\n\"&to=\"+ msg.enddate +\n\"&panelId=\"+panelid\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["60837a19.135c14"]]},{"id":"4ea83174.84cd","type":"ui_template","z":"f3407ada.9f67b8","group":"cc230b49.ff2e98","name":"Temperature Load Chart","order":3,"width":0,"height":0,"format":"<script>\n(function() {\n    (function(scope) {\n        scope.send({payload: \"preload\"}); // this gets sent when the view is opened in the browser\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":430,"y":300,"wires":[["97c28a74.41bce8"]]},{"id":"f55706e5.416f78","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Growmatic","name":"Growmatic","usetls":false,"tls":""},{"id":"14cf5607.40adea","type":"ui_group","z":"","name":"Moisture","tab":"fc817c65.fa79f","order":1,"disp":true,"width":"6","collapse":false},{"id":"af852ea.0dcead","type":"ui_group","z":"","name":"Humidity","tab":"95abad7d.886d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"115d06d6.a56299","type":"ui_group","z":"","name":"Pressure","tab":"7087523a.3d334c","order":1,"disp":true,"width":"6","collapse":false},{"id":"cc230b49.ff2e98","type":"ui_group","z":"","name":"Temperature","tab":"f72b1909.abc2d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fc817c65.fa79f","type":"ui_tab","z":"","name":"Moisture","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"95abad7d.886d4","type":"ui_tab","z":"","name":"Humidity","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"7087523a.3d334c","type":"ui_tab","z":"","name":"Pressure","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"f72b1909.abc2d8","type":"ui_tab","z":"","name":"Temperature","icon":"dashboard","disabled":false,"hidden":false}]